<div class="position-relative">
  @if (isLoading()) {
    <div class="loading-backdrop">
      <app-loading-spinner></app-loading-spinner>
    </div>
  }
  @for (article of articles(); track article) {
    <div [class.blur-overlay]="isLoading()">
      <app-article-preview [article]="article"></app-article-preview>
    </div>
  } @empty {
    <div class="article-preview">There are no articles here yet</div>
  }

  <!-- pagination -->
  <app-pagination
    [articles]="articles()"
    [isLoading]="isLoading()"
    [articlesCount]="articlesCount()"
  ></app-pagination>
</div>
