<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">conduit</a>

    @if (store.isAuthenticated()) {
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <!-- Add "active" class when you're on that page" -->
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editor" routerLinkActive="active">
            <i class="ion-compose"></i>&nbsp;New Article
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>

        @if (store.currentUser() && store.currentUser()?.username) {
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/profile/{{ store.currentUser()?.username }}"
              routerLinkActive="active"
            >
              <img
                alt=""
                src="{{ store.currentUser()?.image }}"
                class="user-pic"
              />
              {{ store.currentUser()?.username }}
            </a>
          </li>
        }
      </ul>
    } @else {
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Sign in</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Sign up</a
          >
        </li>
      </ul>
    }
  </div>
</nav>
