<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            @if (store.isAuthenticated()) {
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="#"
                  [ngClass]="{
                    active: this.articleService.type() !== 'global',
                  }"
                  (click)="populateFeedArticles()"
                  >Your Feed</a
                >
              </li>
            }
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                [ngClass]="{ active: this.articleService.type() === 'global' }"
                (click)="populateGlobalArticles()"
                >Global Feed</a
              >
            </li>
          </ul>
        </div>

        <!-- article list with article and pagination-->
        <app-articles-list></app-articles-list>
      </div>

      <!-- tags -->
      <div class="col-md-3">
        <div class="sidebar position-relative">
          @if (isTagsLoading()) {
            <div class="loading-backdrop">
              <app-loading-spinner></app-loading-spinner>
            </div>
          }
          <p>Popular Tags</p>

          @if (tags()) {
            @for (tag of tags(); track tag) {
              <div class="tag-list" [class.blur-overlay]="isTagsLoading()">
                <a
                  [routerLink]="['/article', tag]"
                  class="tag-pill tag-default"
                  >{{ tag }}</a
                >
              </div>
            }
          } @else {
            <div>There are no tags are here yet</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
