<div>
  @for (article of paginatedArticles(); track article) {
    <app-article-preview [article]="article"></app-article-preview>
  } @empty {
    <div class="article-preview">There are no articles here yet</div>
  }

  <!-- pagination -->
  <nav class="text-xs-center">
    @if (paginatedArticles().length > 0) {
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage() === 1">
          <button
            type="button"
            class="page-link"
            (click)="goToPage(currentPage() - 1)"
          >
            &laquo;
          </button>
        </li>
        @for (page of pages(); track page) {
          <li class="page-item" [class.active]="currentPage() === page">
            <button type="button" class="page-link" (click)="goToPage(page)">
              {{ page }}
            </button>
          </li>
        }
        <li class="page-item" [class.disabled]="currentPage() === totalPages()">
          <button
            type="button"
            class="page-link"
            (click)="goToPage(currentPage() + 1)"
          >
            &raquo;
          </button>
        </li>
      </ul>
    }
  </nav>
</div>
